:root{
    --white :rgb(179, 197, 235);
    --blue :rgb(21, 86, 226);
    --black:rgb(15, 15, 15);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 70px max(5vw, 20px) 40px max(5vw, 20px);

    background: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.header-con{
    
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
    display: flex;
    padding: 20px max(5vw, 20px) 0 max(5vw, 20px);
    left: 0;
    align-items: center;  
}                                                     
.nav-icon{
    width: 30px;
    height: 30px;
    display: none;
    background-color:var(--blue);
    padding: 5px;
    z-index: 100;
    cursor: pointer;
}
.icon-btn{
    background: transparent;
    z-index: 100;
}

  
.logo{
    /* display: inline-block; */
    width: 20%;
    text-decoration: none;
}
.logo .left{
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.logo .right{
    font-size: 20px;
    color: var(--blue);
    font-weight: 600;
}
.logo .dot{
    font-size: 30px;
    color:white;
    font-weight: 600;
}
.logo{
    letter-spacing: 1px;
}
.left{
    color: var(--blue);
    padding: 12px;
    font-weight: 600;
    background: transparent;
    transition: .7s;
    border-bottom: 2px solid var(--blue);
 }
.left-nav a{
    color: white;
    text-decoration: none;
    padding: 12px;
    font-weight: 550;
    background: transparent;
    transition: .7s;
}
.left-nav .active{
    color: var(--blue);
    box-shadow: 0 3px 1px var(--blue);
}
.right-nav a{
    color: var(--blue);
    margin-left: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid var(--blue);
    transition: 0.7s;
}
.right-nav a:hover{
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid white;
}
.right-nav .me{
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    border-bottom: none;
    margin-left: 30px;
}
.right-nav .me:hover{
    background: var(--blue);
    padding: 5px 10px;
    border-radius: 20px;
    border-bottom: none;
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 80%;
}



@media  (max-width:500px) {
    body{
        padding: 10px ;
        width: 400px;
    }
    .left{
        /* border-bottom: none; */
    }
    .logo{
        letter-spacing: 0;
    }
    .nav-icon{
        display: block;
        margin-top: 18px;
    }

    .header-con{
        width: 395px;
        padding: 0 5px 0 0;
        display: flex;
        justify-content: space-between;
    }
        .header-con a{
            display: block;
            /* margin-top: 15px; */
            cursor: pointer;
            color: white;
        }
        .left-nav ,.right-nav{
            display: flex;
            flex-direction: column;
            /* width: 50%; */
            padding:0 30spx;
            text-align: center;
            font-weight: 600;
            /* font-size: 40px; */
            height: 150px;
        }
        .left-nav{
            margin-bottom: 30px;
        }
    
    .nav-con{ 
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        padding-top:60px;
        position:absolute;
        top: 0px;
        right: -500px;
        min-height: 1000vh;
        background: rgba(32, 31, 31, 0.938);
    }
    .nav-con .left-nav a{
        font-size: 18px;
        text-align:start;
    }
    .nav-con .right-nav a{
        font-size: 18px;
        text-align:center;
        margin-left: -21px;
    }
    .right-nav .me{
        color: var(--blue);
        padding:5px 30px;
    }

}
/* @media  (min-width:600px)and (max-width:700px){
} */

 /* @media  (min-width:500px)and (max-width:800px){
    .expo-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .expo{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px ;
        margin-top: 20px;
    }
    .expo-no{
        align-items: center;
        font-size: 50px;
        font-weight: 550;
    }
    .expo-desc{
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    

    .con{
        width: 100%;
        margin-top: 60px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center
        ;
    }
    .left-bio{
        display: inline-block;
        width: 100%;
        font-size: 15px;
    }
    .top{
        width: 100%;
        text-align: center;
        letter-spacing: 5px;
    }
    .name{
        width: 400px;
        text-align: center;
        color: var(--blue);
        word-spacing: 5px;
        letter-spacing: 2px;
    }
    .skill{
        width: 400px;
        letter-spacing: 2px;
        text-align: center;
    }
    .skill-desc{
        width: 300px;
        text-align: justify;
        color: var(--blue);
    }
    .bio-desc{
        font-size: 15px;
        text-align: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .social button{
        color:var(--blue);
        background: black;
        border: 1px solid var(--blue);
        border-radius: 20px;
        width: 120px;
        padding: 8px 15px;
        margin-bottom: 8px;
        white-space: wrap;
    }
    .social-icon{
        margin-left: 0px;
        margin-top: 10px;
    }
    .right-bio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        background: var(--blue);
        border-radius: 50%;
    }
    .right-bio img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid var(--blue);
        border-style: dashed;
    }
}  */
